#content {
  max-width: 700px;
  margin: 0 auto;

  display: block;
  font-family: "Saira Condensed", sans-serif;
  color: #480355;
}
p {
  color: #480355;
}

h1 {
  color: #480355;
  font-family: "Ruslan Display", cursive;
}

header {
  background-color: #81d2c7;
  border: #ccc solid 1px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px #999;
  padding: 10px;
  display: grid;
  grid-template-columns: 110px auto;
  text-align: center;
  align-items: center;
}
img {
  width: 150px;
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(54, 54, 56);
}
ul {
  border-top: 3px dashed;
  border-bottom: 3px dashed;
  padding: 30px;
  border-color: burlywood;
}
footer {
  background-color: #b5bad0;
  border: #ccc solid 1px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 5px #999;
  padding: 10px;
  text-align: center;
}
