/* -----GENERAL---------------------- */
#content {
  max-width: 1500px;
  margin: 0 auto;

  display: block;
  font-family: "Arial Narrow", sans-serif;
  text-align: left;
  color: #2b2a24;
  background-color: white;
  border: solid;
  border-radius: 10px;
}

p {
  font-size: 18px;
  letter-spacing: 1px;
}

h1,
h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  /* padding: 30px; */
}

h1 {
  font-size: 10px;
  text-align: left;
}

h2 {
  font-weight: lighter;
}

#monTue {
  background-color: #fcf810;
  font-size: 30px;
  text-align: center;
}
/* -----HEADER----------------------- */
header {
  /* display: flex; */
  /* flex-flow: column; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 55px 1fr 1fr 50px;
  grid-template-rows: 1fr auto;
  text-align: center;
  /* justify-items: center; */
  padding: 10px;
  padding-bottom: 0;
  background-color: #68e6dbbb;
  border-radius: 15px 15px 0 0;
}

.logo {
  width: 50px;
  border-radius: 50%;
}
.icon {
  grid-column: 4;
  grid-row: 1/2;
}

/* -----NAVIGATION------------------- */

#todayDate {
  grid-column: 1/-1;
  grid-row: -1;
  background-color: #68e6dbbb;
  height: 40px;
  font-size: x-large;
}

nav {
  grid-column: 4/4;
  grid-row: 1/2;
}

nav button {
  /* margin: 0.2rem 2vw; */
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ff9100;
}

/* nav {
  background-color: #68e6dbbb;
} */

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* changes 2/5 */
  right: 50px;
  left: 50px;
  top: 0;
  background-color: #68e6dcfc;
}

nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active a {
  background-color: #00072d;
  color: #fcf810;
  padding: 1em;
}

nav ul li a:hover {
  background-color: #00072d;
  color: #fcf810;
  box-shadow: 0 0 20px rgb(165, 226, 24);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburguerBtn span:nth-child(1) {
  display: block;
}

#hamburguerBtn span:nth-child(2) {
  display: none;
}

#hamburguerBtn.open span:nth-child(1) {
  display: none;
}

#hamburguerBtn.open span:nth-child(2) {
  display: block;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 10px;
}
/* -----MAIN------------------------- */

main {
  background-color: #37505c;
  color: white;
}

/* -.-HOME-.-................. */
section {
  margin: 20px;
  /* border: solid; */
  /* background-color: #68e6dc4b; */
  box-shadow: 10px 10px 10px rgb(5, 5, 5);
  background-color: #68e6dcc0;
  padding: 10px;
  /* height: 100px; */
  /* height: auto; */
}

#homemain > section p {
  text-align: center;
}

#homemain > section:nth-child(4) p {
  text-align: left;
}

#homemain > section:nth-child(4) p strong {
  color: #37505c;
  font-size: 20px;
}

section h2 {
  text-align: center;
  color: #ff9100;
  background-color: #eaf7f6d7;
  box-shadow: 5px 5px 15px #37505c;
  border-radius: 5px;
  padding: 10px;
}

/* section h2 a,
.joinhero {
  color: #ff9100;
  text-decoration: none;
  display: block;
  background-color: #eaf7f6d7;
  box-shadow: 5px 5px 15px #37505c;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
} */

/* #homemain > section:nth-child(2) p,
section.hideBase p {
  /* text-align: center; */
/* padding: 20px;
} */

/* #homemain > section.hideBase > .joinhero {
  border-radius: 30px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: larger;
} */

#heroSection > a,
#homemain > section.hideBase > a {
  text-decoration: none;
  height: 50px;
  border-radius: 30px;
  padding: 10px;
  font-weight: bold;
  display: grid;
  place-items: center;
}

#heroSection > a:hover,
#homemain > section.hideBase > a:hover {
  box-shadow: 0 0 20px rgb(165, 226, 24);
}

#heroSection > a {
  background-color: #fcf810;
  color: #00072d;
  background-image: linear-gradient(#ff9100, #ff910048);
}

#homemain > section.hideBase > a {
  color: #ff9100;
  background-color: #eaf7f6d7;
  font-size: 25px;
  text-align: center;
  font-family: "Mochiy Pop P One", sans-serif;
  box-shadow: 5px 5px 15px #37505c;
}

#heroSection {
  /* position: relative; */
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr; */
  /* height: auto; */
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

#heroSection div {
  /* position: relative; */
  position: absolute;
  /* color: yellow; */
  padding: 20px;
}

/* #heroSection h2,
h3 {

} */

.joinhero {
  /* height: 40%;
  width: 40%; */
  grid-column: 3/4;
  grid-row: 4/5;
  /* position: absolute; */
}

/* .joinhero a {
  font-size: 15px;
  /* display: block; 
} */

#heroSection img {
  width: 100%;
}

.heroImage {
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/5;
}

.hideBase {
  display: none;
}

.spotlight {
  margin: 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(6, 66, 85);
  /* display: grid;
  grid-template-columns: 1fr;
  place-items: center; */
  display: flex;
  flex-direction: column;
  place-items: center;
}

.spotlight h3 {
  font-size: 15px;
}

.weather1 {
  margin: 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(6, 66, 85);
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  display: flex;
  flex-direction: column;
  place-items: center;
  background-color: #68e6dcc0;
}

.weather1 p {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

/* .weather1 img {
  width: 180px;
} */

.weather2 {
  border-top-style: solid;
  text-align: center;
}

/* #heroSection div {
  position: absolute;
  color: yellow;
  padding: 20px;
} */

/* #heroImage img {
  width: 100%;
  /* position: absolute; */
/* } */

.bikes {
  font-size: 100px;
  animation-name: ride;
  animation-duration: 10s;
  animation-fill-mode: backwards;
  animation-iteration-count: 2;
  margin: 0;
}

@keyframes ride {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-40%);
  }

  /* 0% {
    transform: translateX(50px);
  }
  90%{
    transform: translateX(-50px);
  } */
}

/* -.-DISCOVER-.-............. */
/* #discovermain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
} */

#discovermain figure img {
  width: 80%;
  box-shadow: 3px 3px 10px rgb(6, 66, 85);
}

#discovermain .label {
  font-weight: bold;
  font-size: large;
}

.demographics {
  box-shadow: 10px 10px 10px rgb(5, 5, 5);
}

.demographics th,
.demographics td {
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(5, 5, 5);
}

.demographics tbody tr:nth-child(odd) {
  background-color: #68e6dcf3;
}

.demographics tbody td:nth-child(even) {
  text-align: right;
}

.demographics tbody th {
  background-color: #ff9100;
  padding: 20px;
}

.demographics thead th {
  background-color: #00072d;
  font-size: 30px;
  font-family: "Mochiy Pop P One", sans-serif;
  text-align: center;
  padding: 40px;
}

#discovermain > div.discovertxt > section:nth-child(5) > img {
  width: 100%;
}

/* -.-DIRECTORY-.-................... */

.select_view {
  width: 140px;
  margin: 0 auto;
  padding-top: 10px;
}

.select_view #card_view,
#list_view {
  background-color: #68e6dc7a;
}

.notActivebtn {
  background-color: #68e6dc7a;
  box-shadow: 5px 5px 5px rgb(5, 5, 5);
  background-image: linear-gradient(#68e6dcec, #47a098da);
}

.business_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
}

.business_cards img {
  width: 100%;
}

.business_cards section {
  border: 1px solid rgb(0, 0, 0);
  background-color: #68e6dcc0;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(5, 5, 5);
  text-align: center;
}

.business_cards h2 {
  text-align: center;
  font-weight: lighter;
}
/* 
.business_cards h2 {

} */

/* .business_list section {
  border: solid rgb(0, 0, 0);
  background-color: #68e6dcc0;
  background-color: #fcf810;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(6, 66, 85);
} */

.business_list {
  display: grid;
  /* place-items: center; */
  padding-bottom: 50px;
  margin-top: 20px;
  font-size: small;
}

.business_list table {
  box-shadow: 10px 10px 10px rgb(5, 5, 5);
  margin-bottom: 2px;
  width: 95%;
  padding: 10px;
}

table:nth-child(even) {
  background-color: #68e6dc7a;
  /* width: 50%; */
}

table:nth-child(odd) {
  background-color: #68e6dcc0;
  /* width: 50%; */
}

td {
  width: 20%;
}

/* -.-JOIN-.-........................ */

#joinmain h1 {
  text-align: center;
  padding: 20px;
}

form fieldset {
  border: solid rgb(0, 0, 0);
  background-color: #68e6dcc0;
  padding: 15px;
}

form legend {
  color: #ff9100;
  font-weight: bold;
  background-color: #eaf7f6d7;
  box-shadow: 5px 5px 15px #37505c;
  font-size: 25px;
  border-radius: 10px;
  padding: 3px 10px;
}

form label.top,
form div {
  display: block;
  padding-top: 10px;
}

form label.top input,
form label.top select {
  -webkit-appearance: none;
  display: block;
  font-size: 1rem;
  border: solid 1px #999;
  border-radius: 4px;
  padding: 0.75rem;
  width: 90%;
  /* min-width: 15rem; */
  background-color: rgba(243, 239, 239, 0.1);
}

::placeholder {
  color: rgba(255, 255, 255, 0.486);
}

textarea {
  background-color: rgba(243, 239, 239, 0.1);
  /* color: black; */
  width: 90%;
  height: 200px;
}

form label.membership {
  display: block;
  padding: 0.75rem 0;
  color: white;
}

form input.submitBtn {
  border: none;
  background-color: #ff9100;
  color: black;
  font-size: 25px;
  font-weight: bold;
  border-radius: 1rem;
  padding: 0.75rem 1.5rem;
  margin: 0 0 2rem 2%;
  width: 96%;
  /* width 96% matches the size for mobile view. for larger view is too much so we use max width */
  max-width: 20rem;
  box-shadow: 5px 10px 15px #141e22;
}

form label.top input:required {
  border-left: red solid 6px;
}

form label.top input:required:valid {
  border-left: green solid 6px;
}

#joinmain div {
  display: none;
}

/* -.-THANK YOU PAGE-.-.............. */

#thankyoumain {
  height: 300px;
  text-align: center;
  color: white;
}
#thankyoumain h2 {
  text-align: center;
}

.welcome {
  animation: welcome 10s 1 forwards;
  text-align: center;
}

.soon {
  animation: soon 10s 1 forwards;
}

@keyframes welcome {
  0% {
    color: #68e6dbbb;
    font-size: 40px;
  }

  50% {
    color: #fcf810;
    font-size: 50px;
  }

  100% {
    color: #ff9100;
    font-size: 50px;
  }
}

@keyframes soon {
  0% {
    display: none;
  }
  100% {
    display: block;
    text-decoration: underline;
  }
}

/* -.-CONTACT-.-..................... */

#content > .contactmain > section:nth-child(4) > h2 {
  border-radius: 30px;
  height: 50px;
  display: grid;
  place-items: center;
  font-size: larger;
}

.contactmain {
  display: flex;
  flex-direction: column;
}

/* -----FOOTER----------------------- */

footer {
  background-color: #68e6dbbb;
  border: #ccc solid 1px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
  /* box-shadow: 5px 5px 5px #999; */
  padding: 10px;
  margin-bottom: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

h2 {
  font-size: 15px;
}

.logoFooter {
  height: 5rem;
  border-radius: 50%;
}

#footer1 {
  grid-row: 1;
}

#footer2 {
  border-top-style: solid;
  grid-row: 2;
}
