#content {
  max-width: 1500px;
  margin: 0 auto;

  display: block;
  font-family: "Arial Narrow", sans-serif;
  text-align: left;
  color: #2b2a24;
  background-color: white;
  border: solid;
  border-radius: 10px;
}

/* #heroSection div {
  position: absolute;
  color: yellow;
  padding: 20px;
} */

#discovermain {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 2em;
}

p {
  font-size: 16px;
}

#monTue {
  background-color: #fcf810;
  font-size: 30px;
  text-align: center;
}

header {
  /* display: flex; */
  /* flex-flow: column; */
  /* align-items: center; */
  display: grid;
  grid-template-columns: 55px 1fr 1fr 50px;
  grid-template-rows: 1fr auto;
  text-align: center;
  /* justify-items: center; */
  padding: 10px;
  padding-bottom: 0;
  background-color: #68e6dbbb;
}

.logo {
  width: 50px;
  border-radius: 50%;
}
.icon {
  grid-column: 4;
  grid-row: 1/2;
}

h1,
h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  /* padding: 30px; */
}

h1 {
  font-size: 10px;
  text-align: left;
}

#todayDate {
  grid-column: 1/-1;
  grid-row: -1;
  background-color: #68e6dbbb;
  height: 40px;
  font-size: x-large;
}

nav {
  grid-column: 4/4;
  grid-row: 1/2;
}

nav button {
  /* margin: 0.2rem 2vw; */
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #ff9100;
}

/* nav {
  background-color: #68e6dbbb;
} */

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute; /* changes 2/5 */
  right: 50px;
  left: 50px;
  top: 0;
  background-color: #68e6dcfc;
}

/* code from lesson 4 to test: */
nav ul li a {
  display: block;
  padding: 0.8rem 2vw;
  text-decoration: none;
  color: #333;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

nav ul li.active {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  background-color: #00072d;
  color: #fcf810;
  padding: 1em;
  box-shadow: 0 0 20px rgb(165, 226, 24);
}

nav ul {
  display: none;
}

nav ul.open {
  display: block;
}

#hamburguerBtn span:nth-child(1) {
  display: block;
}

#hamburguerBtn span:nth-child(2) {
  display: none;
}

#hamburguerBtn.open span:nth-child(1) {
  display: none;
}

#hamburguerBtn.open span:nth-child(2) {
  display: block;
}

.icon {
  width: 30px;
  height: 30px;
  padding: 10px;
}

/* Main*/

section {
  margin: 20px;
  border: solid;
  background-color: #68e6dc4b;
  padding: 10px;
  /* height: 100px; */
  height: auto;
}

#heroSection {
  /* position: relative; */
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr; */
  height: auto;
}

#heroSection div {
  /* position: relative; */
  position: absolute;
  /* color: yellow; */
  padding: 20px;
}

/* #heroSection h2,
h3 {

} */

#heroSection img {
  width: 100%;
}

/* #heroImage img {
  width: 100%;
  /* position: absolute; */
/* } */

.hideBase {
  display: none;
}

.spotlight {
  margin: 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 3px rgb(6, 66, 85);
}
.weather1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.weather1 p {
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

.weather1 img {
  width: 180px;
}
.weather2 {
  border-top-style: solid;
}

#discovermain picture img {
  width: 80%;
}

#discovermain .label {
  font-weight: bold;
  font-size: large;
}

/* Footer */

footer {
  background-color: #68e6dbbb;
  border: #ccc solid 1px;
  border-radius: 0 0 20px 20px;
  margin-bottom: 30px;
  /* box-shadow: 5px 5px 5px #999; */
  padding: 10px;
  margin-bottom: 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
}

h2 {
  font-size: 15px;
}

.logoFooter {
  height: 5rem;
  border-radius: 50%;
}

#footer1 {
  grid-row: 1;
}

#footer2 {
  border-top-style: solid;
  grid-row: 2;
}
