@media only screen and (min-width: 60em) {
  body {
    background-color: rgba(238, 238, 93, 0.233);
  }
  #content {
    border: solid 0.5em;
    border-radius: 25px;
  }
  h1 {
    grid-column: 2;
    font-size: 24px;
  }

  /* -----HEADER----------------------- */
  header {
    grid-template-columns: 200px 1fr 2fr 1fr;
    grid-template-rows: 1fr 50px;
  }

  /* -----NAVIGATION------------------- */
  nav button {
    display: none;
  }

  nav ul#navList {
    display: flex;
    margin-left: 2vw;
    border-left: 1px solid rgba(0, 0, 0, 0.3);
  }

  nav ul li a {
    padding: 0.5rem 1rem;
  }

  nav ul {
    position: relative;
    background-color: transparent;
    right: auto;
  }

  nav {
    grid-column: 3/4;
    font-size: 20px;
  }

  .icon {
    grid-column: -1;
  }

  .logo {
    width: 150px;
  }

  /* -----MAIN------------------------- */

  #homemain {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr;*/
  }

  .heroImage {
    margin: 0;
  }

  #content > #homemain > section:nth-child(1) {
    grid-column: 2;
    grid-row: 1/3;
    height: auto;
  }

  #content > #homemain > section:nth-child(2) {
    grid-column: 1;
    grid-row: 1;
  }

  #content > #homemain > section:nth-child(3) {
    grid-column: 1;
    grid-row: 2;
  }

  #content > #homemain > section:nth-child(4) {
    grid-row: 3;
    grid-column: 2;
  }

  #content > #homemain > section:nth-child(5) {
    grid-column: 3;
    grid-row: 1/4;
    height: auto;
  }

  #content > #homemain > section:nth-child(6) {
    grid-column: 1;
    grid-row: 3;
  }

  .hideBase {
    display: block;
  }

  .weather1 img {
    width: 200px;
  }

  .weather1 p {
    text-align: left;
  }

  form {
    max-width: 700px;
    margin: auto;
  }

  form label.membership {
    padding: 0.4rem 0;
  }

  /* -.-DIRECTORY-.-................... */

  /* .select_view {
    display: none;
  } */

  /* -----FOOTER----------------------- */

  #footer2 {
    font-size: 16px;
    /* display: flex;
    flex-wrap: wrap; */
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 100px 1fr 1fr;
  }

  #dateModified {
    grid-row: 1;
    grid-column: 4;
  }

  /* end of media query */
}
